<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin.name %>
</p>

<p>
  <b>Email:</b>
  <%= @admin.email %>
</p>


<%= link_to "New Post", new_post_path %><br/>

<h3>My Posts</h3>
<% @posts.each do |post| %>
<p><%= link_to post.name, post_path(post) %></p>
<% end %><br/>

