<p id="notice"><%= notice %></p>

<p>
  <b>Admin:</b>
  <%= @post.admin_id %>
</p>

<p>
  <b>URL:</b>
  <%= @post.url %>
</p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<h3>Comments</h3>
<% if @comments.any? %>
<% @comments.each do |comment| %>
Author: <%= comment.author %>,
Content: <%= comment.content %>,
Votes: <%= comment.votes %>,
<% if comment.priority == 1 %> Priority: True
<%= link_to "Set False", priority_path(:cid => comment.id) %>
<% else %> Priority: False
<%= link_to "Set True", priority_path(:cid => comment.id) %>
<% end %>
<br/>
<% end %><% end %><br/>

<%= link_to "Edit", edit_post_path(@post) %> |
<%= link_to "Back", current_admin %>

<br/><br/>
<h3>Insert the follwoing HTML/Javascript into your post</h3>
&ltscript src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="test/javascript">
&lt/script&gt<br/>
&ltscript&gt
 $(function () {
   $( "#submit_button" )
     .click(function() {
       var name = $("input#author").val();
       var content = $("input#content").val();
       var data = "http://intense-coast-1179.herokuapp.com/posts/<%= @post.id %>/comment?author="+name+"&content="+content;
       $.ajax({
         type: "POST",
         url: data,
         cache: false,
         success: function() {
           $("#commentBox").append("Yay");
         }
       });
       poll();
     });
 });
 $(document).ready(function() {poll();});
 function poll () {
   $("#commentBox").load("http://intense-coast-1179.herokuapp.com/posts/<%= @post.id %>/retrieve #comments");
   setTimeout(poll, 1000);
 };
&lt/script&gt<br/>

&ltdiv id="commentomatic"&gt
 &ltdiv id="commentBox"&gt&lt/div&gt
 &ltform id="commentForm" method="post"&gt
   &ltlabel for="author">Name: &lt/label&gt
   &ltinput for="author"id="author"/&gt
   &ltlabel for="content">Comment: &lt/label&gt
   &ltinput for="content" id="content"/&gt
   &ltinput type="submit" class="button" id="submit_button" value="Comment" /&gt
 &lt/form&gt
&lt/div&gt

